<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<style>
		.container {
			width: 600px;
			margin: 32px auto 0;
			padding: 2em;
		}
		h2 {
			margin: 32px auto;
			font-size: 38px;
			font-weight: 500;
		}
		button {
			padding:22px;
			width:calc(50% - 1em);
		}
	</style>
	<title>Confirm Submit</title>
</head>
<body class="offwhite-bg">
	<div class="border-bottom flex-row justify-between align-center white-bg" style="padding:36px 72px 24px;">
		<a th:href="@{/exam}" class="logo flex-row align-center"><img th:src="@{/images/AITC Logo(small).png}" alt="Logo" width="32" height="32" class="mr-8">ACE EXAM PLATFORM</a>
	</div>
	<div class="container border br-16 white-bg">
		<h2 class="text-center">Confirm submit</h2>
		<form th:action="@{/exam/submitted}" th:object="${candidate}" method="post">
			<p class="text-center">Are you sure you want to submit <th:block th:text="|candidate *{field1}|"></th:block>?</p>
			<div class="flex-row justify-between">
				<button type="submit" class="action-btn br-16">Yes</button>
				<button id="back-btn" class="alt-action-btn br-16" th:formaction="@{/exam/{prev}(prev=*{prevQuestionPath})}" autofocus>No</button>
			</div>
		</form>
	</div>
</html>