<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<style>
		.container {
			width: 600px;
			margin: 0 auto;
		}
		label > span {
			font-size: 18px;
			line-height: 32px;
		}
		button, a.action-btn {
			margin-top: 48px;
			border: none;
			font-weight: 600;
			padding: 22px;
		}
		h2 {
			font-size: 38px;
			font-weight: 500;
		}
	</style>
	<title>Select Papers</title>
</head>
<body>
	<div class="border-bottom" style="padding:36px 72px 24px;">
		<a th:href="@{/exam}" class="logo flex-row align-center"><img th:src="@{/images/AITC Logo(small).png}" alt="Logo" width="32" height="32" class="mr-8">ACE EXAM PLATFORM</a>
	</div>
	<form th:action="@{/exam/validate}" th:object="${candidate}" method="post" class="container">
		<input type="number" th:field="*{examId}" hidden>
		<input type="text" th:field="*{field1}" hidden>
		<input type="text" th:field="*{field2}" hidden>
		<h2 class="text-center">Select Papers</h2>
		<p style="text-align:center" th:text="|Please Select ${exam.papersPerCandidate} Paper${exam.papersPerCandidate > 1 ? 's':''} Only|"></p>
		<div class="flex-row justify-center">
			<table>
				<tbody>
					<tr th:each="paper : ${exam.papers}">
						<td><input type="checkbox" th:field="*{paperNames}" th:value="${paper.name}" th:attr="id=${paper.name}"></td>
						<td><label th:for="${paper.name}" th:text="|${paper.name}${paper.manditory ? ' (Manditory)' : ''}|"></label></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:if="${errorMessage ne null}">
			<p th:text="|* ${errorMessage}|" class="danger-text text-center"></p>
		</div>
		<button class="action-btn width-100 br-16" type="submit">Next</button>
	</form>
</body>
</html>