<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<style>
		.container {
			width: 100%;
			max-width: 1160px;
			margin:130px auto 0;
		}
		h2 {
			display: inline-block;
			font-size: 38px;
			font-weight: 500;
		}
		p {
			padding: 0 50px;
			margin-top: 48px;
			margin-bottom: 50px;
		}
		#question-select {
			flex-wrap:wrap;
			padding:0 94px;
			margin-top: 88px;
		}
		#question-select > * {
			flex: 0.05;
			height: 44px;
			min-width: 48px;
		}
		#question-select > *:first-child {
			border-top-left-radius: .5em;
		}
		#question-select > *:last-child {
			border-bottom-right-radius: .5em;
		}
		#question-select > .current {
			background-color: #3498DB;
			color: white;
		}
		#question-select > .answered {
			background-color: #1B7A43;
			color: white;
		}
		#question-select > .not-answered {
			background-color: #FF1800;
			color: white;
		}
	</style>
	<title th:text="|${exam.title} - ${candidate.currentPaperName}|"></title>
</head>
<body>
	<div class="border-bottom flex-row justify-between align-center" style="padding:36px 72px 24px;">
		<a th:href="@{/exam}" class="logo flex-row align-center"><img th:src="@{/images/AITC Logo(small).png}" alt="Logo" width="32" height="32" class="mr-8">ACE EXAM PLATFORM</a><section><span id="timer"></span>/<span id="duration" th:text="${exam.duration}"></span></section>
	</div>
	<div id="papers" class="hidden">
		<!-- Here for up/down arrow navigation of questions -->
		<th:block th:each="paper : ${candidate.paperNames}" th:with="currentPaper=${candidate.currentPaperName}">
			<button type="submit"
			th:formaction="@{/exam/{paperName}/1(paperName=${paper})}"
			th:aria-current="${currentPaper == paper ? 'true' : ''}"
			th:text="${paper}"
			class="exam-paper"
			form="question-form">Paper</button>
		</th:block>
		<button form="question-form" class="exam-paper" type="submit" th:formaction="@{/exam/submit}">Submit</button>
		<input form="question-form" type="number" th:field="${candidate.examId}" hidden>
		<input form="question-form" type="text" th:field="${candidate.field1}" hidden>
		<input form="question-form" type="text" th:field="${candidate.field2}" hidden>
		<input form="question-form" type="number" th:field="${candidate.currentPaperQuestionNumber}" hidden>
		<input form="question-form" type="number" th:field="${candidate.timeUsed}" hidden>
		<input form="question-form" type="text" th:field="${candidate.currentPaperName}" hidden>
	</div>
	<form th:object="${candidate}" id="question-form" method="post" class="container">
		<div class="width-100 flex-row align-center">
			<button th:if="*{prevQuestionPath != null}" type="submit" id="prev-question" class="blue-text none-btn" style="float:left" th:formaction="@{/exam/{prev}(prev=*{prevQuestionPath})}"><span class="flex align-center"><img th:src="@{/images/arrow-left-round-blue.svg}" alt="prev" class="mr-8">Previous</span></button>
			<h2 th:text="|*{currentPaperName}|" style="display:inline-block;margin:0 auto;"></h2>
			<button th:formaction="@{/exam/{next}(next=*{nextQuestionPath})}" type="submit" id="next-question" class="alt-action-btn br-16" style="width:154px;height:46px;float:right;" th:text="*{nextQuestionPath == 'submit' ? 'Submit' : 'Next'}">Next</button>
		</div>
		<p th:text="|*{currentPaperQuestionNumber}. *{currentQuestionStr}|"></p>
		<th:block th:each="option, optionIndex : *{currentOptions}">
			<div style="margin-bottom:16px;padding:0 66px">
				<label>
					<input type="radio" th:field="*{currentAnswerIndex}" th:value="${optionIndex.index}">
					<span th:text="${option}"></span>
				</label>
			</div>
		</th:block>
		<div id="question-select" class="flex-row">
			<button type="submit"
			th:each="map : *{currentPaperQuestionsAnswered}"
			th:with="i=${map.key}, currNum=*{currentPaperQuestionNumber}"
			th:class="|${currNum == i ? 'current' : map.value ? 'answered' : 'not-answered'} none-btn border|"
			th:formaction="@{/exam/{paperName}/{questionNumber}(paperName=*{currentPaperName},questionNumber=${i})}"
			th:text="|Q${i}|">Q1</button>
		</div>
	</form>
	<script>
		window.addEventListener("DOMContentLoaded", () => {
			// Count down timer
			const timeUsed = document.getElementById("timeUsed");
			const timeSlot = document.getElementById("timer");
			const duration = document.getElementById("duration");
			const timeAllowed = parseInt(duration.innerHTML) * 60;
			function timeWriter(t) {
				var h = Math.floor(t % (60 * 60 * 24) / (60 * 60));
				var m = Math.floor(t % (60 * 60) / 60);
				var s = Math.floor(t % 60);
				return (h > 0 ? h + ':' : '') + (m >= 10 ? m : '0' + m) + ':' + (s >= 10 ? s : '0' + s);
			}
			function startTimer() {
				duration.innerHTML = timeWriter(timeAllowed);
				var t = parseFloat(timeUsed.value);
				timeSlot.innerHTML = timeWriter(timeAllowed - t);
				var interval = setInterval(() => {
					t = parseFloat(timeUsed.value);
					t += 0.1;
					var timeRemaining = timeAllowed - t;
					timeSlot.innerHTML = timeWriter(timeRemaining);
					timeUsed.setAttribute("value", t);
					if (timeUsed.value >= timeAllowed) {
						document.querySelector("form").submit();
					}
				}, 100);
				var pastTime = 0;
				var timePoint = 0;
				document.onvisibilitychange = (ev) => {
					if (document.visibilityState == "hidden") {
						timePoint = parseFloat(timeUsed.value);
						pastTime = Date.now();
					} else if (document.visibilityState == "visible") {
						timePoint += (Date.now() - pastTime) / 1000;
						timeUsed.setAttribute("value", timePoint);
					}
				}
			}
			startTimer();
			// Keyboard controls
			const nextQuestion = document.getElementById('next-question');
			const prevQuestion = document.getElementById('prev-question');
			const papers = document.getElementsByClassName('exam-paper');
			const options = document.querySelectorAll("label > input");
			function selectOption(index) {
				options.forEach(option => {
					option.removeAttribute("checked");
				});
				if (options.length > index) {
					options[index].setAttribute("checked", true);
				}
			}
			function selectPaper(iter) {
				if (papers !== null) {
					for (let i = 0; i < papers.length; i++) {
						if (papers[i].getAttribute("aria-current") != null) {
							if (i + iter >= 0 && i + iter < papers.length) {
								papers[i + iter].click();
							}
						}
					}
				}
			}
			document.onkeydown = (ev) => {
				switch (ev.key) {
					case '1':
						selectOption(0);
						break;
					case '2':
						selectOption(1);
						break;
					case '3':
						selectOption(2);
						break;
					case '4':
						selectOption(3);
						break;
					case '5':
						selectOption(4);
						break;
				}
			}
			document.onkeyup = (ev) => {
				switch (ev.key) {
					case 'ArrowLeft':
						if (prevQuestion !== null) {
							prevQuestion.click();
						}
						break;
					case 'ArrowRight':
						if (nextQuestion !== null) {
							nextQuestion.click();
						}
						break;
					case 'ArrowUp':
						selectPaper(-1);
						break;
					case 'ArrowDown':
						selectPaper(1);
						break;
				}
			}
		})
	</script>
</body>
</html>