<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/dashboard.css}">
	<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
	<style>
		.container {
			width: 806px;
			height: fit-content;
		}
		.flex-row > .width-50 {
			flex: 0.5;
			max-width: 340px;
		}
	</style>
	<title th:text="|Export - ${exam.title}|">Export Exam</title>
</head>
<body class="offwhite-bg">
	<div class="flex-row" style="height:fit-content">
		<div class="menu flex-col align-center white-bg">
			<a th:href="@{/}" class="logo flex-row justify-center align-center"><img th:src="@{/images/AITC Logo(small).png}" alt="Logo" width="32" height="32" class="mr-8">ACE EXAM PLATFORM</a>
			<details open>
				<summary class="flex-row justify-between align-center br-16" style="width:271px;background-color:#0F29420A;padding:12px 16px;"><span class="flex align-center"><img th:src="@{/images/dashboard-icon.svg}" alt="dashboard-icon" class="mr-8">Dashboard</span><img th:src="@{/images/arrow-down-round.svg}" alt="arrow-down"></summary>
				<ul style="list-style:none;margin:15px 0 0 25px;padding-left:23px;" class="border-left">
					<li><a th:href="@{/scheduled}">Currently Scheduled Exam</a></li>
					<li><a th:href="@{/recorded}" class="blue-text">Exam Record</a></li>
					<li th:if="${countOngoing > 0}"><a th:href="@{/ongoing}">Ongoing Exams</a></li>
					<li><a th:href="@{/create}">Create New Exam</a></li>
				</ul>
			</details>
		</div>
		<div class="flex-col align-center width-minus-menu">
			<div class="fit-height white-bg width-100 border-bottom">
				<div class="container flex-row justify-between align-center" style="margin:19px auto;">
					<form th:action="@{/search}" method="post" style="position:relative">
						<input type="text" name="search" placeholder="Search Exams By Title" class="border br-16">
						<button type="submit" class="none-btn" style="position:absolute;top:10px;right:14px;cursor:pointer;"><img th:src="@{/images/search.svg}" alt="Search"></button>
					</form>
					<a th:href="@{/create}" class="blue-text"><img th:src="@{/images/add.svg}" alt="create" style="vertical-align:middle;" class="mr-8">Create Exam</a>
				</div>
			</div>
			<div class="container white-bg br-16 border flex-col fit-height" style="padding:0 53px 53px 53px;margin-top:40px">
				<h2>Configuration Exam Export</h2>
					<input type="number" th:field="*{examId}" hidden>
					<label>
						<input type="checkbox" th:field="*{exportAllCandidates}">
						EXPORT ALL CANDIDATES
					</label>
					<input type="submit" value="Download" >
				</form> -->
				<form th:action="@{/export/{id}(id=${exam.examId})}" th:object="${configurer}" method="post">
					<div class="width-100">
						<input type="checkbox" th:field="*{field1}">
						<label for="field1Str">FIELD 1</label>
					</div>
					<div class="width-100">
						<input type="text" id="field1Str" th:field="*{field1Str}" class="br-16 border">
					</div>
					<div class="width-100">
						<input type="checkbox" th:field="*{field2}">
						<label for="field2Str">FIELD 2</label>
					</div>
					<div class="width-100">
						<input type="text" id="field2Str" th:field="*{field2Str}" class="br-16 border">
					</div>
					<div class="width-100">
						<input type="checkbox" id="names" th:field="*{names}">
						<label for="names">NAMES</label>
					</div>
					<div class="width-100">
						<label for="firstname" class="width-100">FIRSTNAME</label>
						<input type="text" id="firstname" th:field="*{firstName}" class="br-16 border">
					</div>
					<div class="width-100">
						<label for="lastname" class="width-100">LASTNAME</label>
						<input type="text" id="lastname" th:field="*{lastName}" class="br-16 border">
					</div>
					<div class="width-100">
						<label for="othernames" class="width-100">OTHERNAMES</label>
						<input type="text" id="othernames" th:field="*{otherName}" class="br-16 border">
					</div>
					<div class="width-100">
						<input type="checkbox" th:field="*{email}">
						<label for="emailStr">EMAIL</label>
					</div>
					<div class="width-100">
						<input type="text" id="emailStr" th:field="*{emailStr}" class="br-16 border">
					</div>
					 <div class="width-100">
						<input type="checkbox" th:field="*{phone}">
						<label for="phoneNumber">PHONE NUMBER</label>
					 </div>
					 <div class="width-100">
						<input type="text" id="phoneNumber" th:field="*{phoneNumberStr}" class="br-16 border">
					 </div>
					 <div class="width-100">
						<input type="checkbox" th:field="*{state}">
						<label for="stateStr">STATE</label>
					 </div>
					 <div class="width-100">
						<input type="text" id="stateStr" th:field="*{stateStr}" class="br-16 border">
					 </div>
					 <div class="width-100">
						<input type="checkbox" th:field="*{timeUsed}">
						<label for="timeUsedStr">TIME USED</label>
					 </div>
					 <div class="width-100">
						<input type="text" id="timeUsedStr" th:field="*{timeUsedStr}" class="br-16 border">
					 </div>
					 <div class="width-100">
						<input type="checkbox" id="paperScores" th:field="*{paperScores}">
						<label for="paperScores">PAPER SCORES</label>
					 </div>
					<div class="width-100">
						<input type="checkbox" id="allCandidates" th:field="*{exportAllCandidates}">
						<label for="allCandidates">EXPORT ALL CANDIDATES</label>
					 </div>
					<button type="submit" class="action-btn br-16">Proceed</button>
				</form>
			</div>
		</div>
	</div>
	<script>
		window.addEventListener("DOMContentLoaded", () => {
			// snStr = document.getElementById("serialNumberStr")
			// console.log(snStr.value)

			const form = document.querySelector("form#export")
			const submitForm = document.querySelector("form#export input[type='submit']")
			submitForm.addEventListener("click", () => {
				var elem = document.createElement('a');
				elem.href = form.action;
				elem.download = "export.csv"
				document.documentElement.appendChild(elem)
				elem.click()
				document.documentElement.remove(elem);
			})
			window.onload
		})
	</script>
</body>
</html>