<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/dashboard.css}">
	<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
	<style>
		.container {
			width: 806px;
			height: fit-content;
		}
		.flex-row > .width-50 {
			flex: 0.5;
			max-width: 340px;
		}
	</style>
	<title th:text="|Export - ${exam.title}|">Export Exam</title>
</head>
<body class="offwhite-bg">
	<div class="flex-row" style="height:fit-content">
		<div class="menu flex-col align-center white-bg">
			<a th:href="@{/}" class="logo flex-row justify-center align-center"><img th:src="@{/images/AITC Logo(small).png}" alt="Logo" width="32" height="32" class="mr-8">ACE EXAM PLATFORM</a>
			<details open>
				<summary class="flex-row justify-between align-center br-16" style="width:271px;background-color:#0F29420A;padding:12px 16px;"><span class="flex align-center"><img th:src="@{/images/dashboard-icon.svg}" alt="dashboard-icon" class="mr-8">Dashboard</span><img th:src="@{/images/arrow-down-round.svg}" alt="arrow-down"></summary>
				<ul style="list-style:none;margin:15px 0 0 25px;padding-left:23px;" class="border-left">
					<li><a th:href="@{/scheduled}">Currently Scheduled Exam</a></li>
					<li><a th:href="@{/recorded}" class="blue-text">Exam Record</a></li>
					<li th:if="${countOngoing > 0}"><a th:href="@{/ongoing}">Ongoing Exams</a></li>
					<li><a th:href="@{/create}">Create New Exam</a></li>
					<li><a th:href="@{/advanced-search}">Advanced Search</a></li>
				</ul>
			</details>
		</div>
		<div class="flex-col align-center width-minus-menu">
			<div class="fit-height white-bg width-100 border-bottom">
				<div class="container flex-row justify-between align-center" style="margin:19px auto;">
					<form th:action="@{/search}" method="post" style="position:relative">
						<input type="text" name="search" placeholder="Search Exams By Title" class="border br-16">
						<button type="submit" class="none-btn" style="position:absolute;top:10px;right:14px;cursor:pointer;"><img th:src="@{/images/search.svg}" alt="Search"></button>
					</form>
					<a th:href="@{/create}" class="blue-text"><img th:src="@{/images/add.svg}" alt="create" style="vertical-align:middle;" class="mr-8">Create Exam</a>
				</div>
			</div>
			<div class="container white-bg br-16 border flex-col fit-height" style="padding:0 53px 53px 53px;margin-top:40px">
				<h2>Configuration Exam Export</h2>
				<form th:action="@{/download}" th:object="${config}" method="post">
					<input type="number" th:field="*{examId}" hidden>
					<div class="flex-row align-center">
						<input type="checkbox" th:field="*{serialNumber}" class="mr-8">
						<label class="width-100">
							SERIAL NUMBER
							<br>
							<input type="text" th:field="*{serialNumberStr}" class="br-16 border">
						</label>
					</div>
					<br>
					<label>
						FIELD 1
						<br>
						<input type="text" name="field1Str" id="field1Str" th:value="${exam.loginField1Desc}" class="br-16 border">
					</label>
					<br>
					<div class="flex-row" th:if="${exam.loginField2.ordinal != 0}">
						<input type="checkbox" th:field="*{field2}" class="mr-8">
						<label class="width-100">
							FIELD 2
							<br>
							<input type="text" name="field2Str" id="field2Str" th:value="${exam.loginField2Desc}" class="br-16 border">
						</label>
					</div>
					<br>
					<div class="flex-row">
						<input type="checkbox" th:field="*{timeUsed}" class="mr-8">
						<label class="width-100">
							TIME USED (IN SECONDS)
							<br>
							<input type="text" th:field="*{timeUsedStr}" class="br-16 border">	
						</label>
					</div>
					<br>
					<label>
						REPRESENT QUESTION AS
						<select th:field="*{questionAs}" class="border br-16">
							<option value="-1">The Question Number Only</option>
							<option value="0">The Question And The Number</option>
							<option value="1">The Question Only</option>
						</select>
					</label>
					<br>
					<label>
						REPRESENT ANSWER AS
						<select th:field="*{answerAs}" class="border br-16">
							<option value="-1">The Answer Index Only</option>
							<option value="0">The Answer And The Index</option>
							<option value="1">The Answer Only</option>
						</select>
					</label>
					<label>
						<input type="checkbox" th:field="*{allCandidates}">
						EXPORT ALL CANDIDATES
					</label>
					<br>
					<label>
						<input type="checkbox" th:field="*{showScore}">
						SHOW RESULTS
					</label>
					<br>
					<br>
					<div class="flex-row justify-end">
						<button type="submit" class="action-btn br-16">Configure</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
		window.addEventListener("DOMContentLoaded", () => {
			snStr = document.getElementById("serialNumberStr")
			console.log(snStr.value)
		})
	</script>
</body>
</html>