<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/dashboard.css}">
	<style>
		.container {
			width: 806px;
		}
		.flex-row > label {
			flex: 0.5;
			max-width: 340px;
		}
	</style>
	<title>Review</title>
</head>
<body class="offwhite-bg">
	<div class="flex-row" style="height:fit-content">
		<div class="menu flex-col align-center white-bg">
			<a th:href="@{/}" class="logo flex-row justify-center align-center"><img th:src="@{/images/AITC Logo(small).png}" alt="Logo" width="32" height="32" class="mr-8">ACE EXAM PLATFORM</a>
			<details open>
				<summary class="flex-row justify-between align-center br-16" style="width:271px;background-color:#0F29420A;padding:12px 16px;"><span class="flex align-center"><img th:src="@{/images/dashboard-icon.svg}" alt="dashboard-icon" class="mr-8">Dashboard</span><img th:src="@{/images/arrow-down-round.svg}" alt="arrow-down"></summary>
				<ul style="list-style:none;margin:15px 0 0 25px;padding-left:23px;" class="border-left">
					<li><a th:href="@{/scheduled}">Currently Scheduled Exam</a></li>
					<li><a th:href="@{/recorded}">Exam Record</a></li>
					<li th:if="${countOngoing > 0}"><a th:href="@{/ongoing}">Ongoing Exams</a></li>
					<li><a th:href="@{/create}" class="blue-text">Create New Exam</a></li>
					<li><a th:href="@{/advanced-search}">Advanced Search</a></li>
				</ul>
			</details>
		</div>
		<div class="flex-col align-center width-minus-menu">
			<div class="fit-height white-bg width-100 border-bottom">
				<div class="container flex-row justify-between align-center" style="margin:19px auto;">
					<form th:action="@{/search}" method="post" style="position:relative">
						<input type="text" name="search" placeholder="Search Exams By Title" class="border br-16">
						<button type="submit" class="none-btn" style="position:absolute;top:10px;right:14px;cursor:pointer;"><img th:src="@{/images/search.svg}" alt="Search"></button>
					</form>
					<a th:href="@{/create}" class="blue-text"><img th:src="@{/images/add.svg}" alt="create" style="vertical-align:middle;" class="mr-8">Create Exam</a>
				</div>
			</div>
			<div class="container white-bg br-16 border" style="padding:0 53px 53px 53px;margin-top:55px;">
				<form th:action="@{/create}" th:object="${exam}" method="post" enctype="multipart/form-data">
					<h2>Review Exam Details</h2>
					<label>
						TITLE
						<br>
						<input type="text" th:field="*{title}" class="border br-16">
					</label>
					<br>
					<div class="flex-row justify-between">
						<label>
							START TIME
							<br>
							<input type="time" th:field="*{startTime}" class="text-center border br-16">
						</label>
						<label>
							END TIME
							<br>
							<input type="time" th:field="*{endTime}" class="text-center border br-16">
						</label>
					</div>
					<label>
						SCHEDULED DATE
						<br>
						<input type="date" th:field="*{scheduledDate}" th:min="*{MIN_DATE}" class="text-center border br-16">
					</label>
					<br>
					<label>
						DURATION
						<br>
						<input type="number" th:field="*{duration}" class="text-center border br-16">
					</label>
					<br>
					<label id="slider">
						CUTOFF MARK &nbsp;&nbsp;<span id="pass-value"></span>
						<input type="range" th:field="*{cutOffMark}" min="0" max="1" step="0.05">
					</label>
					<label>
						<input type="checkbox" th:field="*{allowCutOffMark}">
						SET CUTOFF MARK
					</label>
					<br><br>
					<label>
						PAPERS PER CANDIDATE
						<input type="number" th:field="*{papersPerCandidate}" th:max="*{#lists.size(papers)}" min="1" class="text-center border br-16">
					</label>
					<br>
					<label>
						<input type="checkbox" th:field="*{showResult}">
						SHOW RESULTS
					</label>
					<br><br>
					<th:block th:each="paper, paperStat : *{papers}">
						<details style="margin-bottom:24px">
							<summary class="width-100 br-16 flex-row justify-between align-center" style="background-color:#0F29420A;padding:12px 16px"><span th:text="*{papers[__${paperStat.index}__].name}"></span><img th:src="@{/images/arrow-down-round.svg}" alt="arrow-down"></summary>
							<label>
								NAME OF PAPER
								<input type="text" th:field="*{papers[__${paperStat.index}__].name}" class="text-center border br-16">
							</label>
							<label>
								QUESTIONS PER CANDIDATE
								<input type="number" th:field="*{papers[__${paperStat.index}__].questionsPerCandidate}" th:max="${#lists.size(paper.questions)}" th:min="1" class="text-center border br-16">
							</label>
							<label>
								<input type="checkbox" th:field="*{papers[__${paperStat.index}__].manditory}">
								MANDATORY
							</label>
							<th:block th:each="question, questionStat : *{papers[__${paperStat.index}__].questions}">
								<input type="number" th:field="*{papers[__${paperStat.index}__].questions[__${questionStat.index}__].number}" hidden>
								<input type="text" th:field="*{papers[__${paperStat.index}__].questions[__${questionStat.index}__].question}" hidden>
								<p th:text="|*{papers[__${paperStat.index}__].questions[__${questionStat.index}__].number}. ${question.question}|"></p>
								<th:block th:each="option, optionStat : *{papers[__${paperStat.index}__].questions[__${questionStat.index}__].options}">
									<label th:with="index=${optionStat.index},answer=*{papers[__${paperStat.index}__].questions[__${questionStat.index}__].answerIndex}">
										<input type="radio" th:field="*{papers[__${paperStat.index}__].questions[__${questionStat.index}__].answerIndex}" th:value="${index}" th:checked="${index == answer}">
										<span th:text="${option}"></span>
										<input type="text" th:field="*{papers[__${paperStat.index}__].questions[__${questionStat.index}__].options[__${index}__]}" th:value="${option}" hidden>
									</label>
									<br>
								</th:block>
							</th:block>
						</details>
					</th:block>
					<div class="flex-row justify-between">
						<label>
							FIELD 1
							<br>
							<select th:field="*{loginField1}" class="text-center border br-16">
								<th:block th:each="field : ${T(com.ace.app.model.CandidateField).values()}">
								<th:block th:unless="${field.name == 'None' || field.name == 'Password'}">
									<option th:value="${field}" th:text="|${field.name}|"></option>
								</th:block>
							</select>
							<input type="text" th:field="*{loginField1Desc}" class="text-center border br-16" placeholder="Field 1 Descriptor" required>
						</label>
						<label>
							FIELD 2
							<br>
							<select th:field="*{loginField2}" class="text-center border br-16">
								<th:block th:each="field : ${T(com.ace.app.model.CandidateField).values()}">
									<option th:value="${field}" th:text="|${field.name}|"></option>
								</th:block>
							</select>
							<input type="text" th:field="*{loginField2Desc}" class="text-center border br-16" placeholder="Field 2 Descriptor" required>
						</label>
					</div>
					<label id="upload-candidates" th:hidden="*{#lists.size(candidates) > 0}">
						UPLOAD CANDIDATE LIST
						<input type="file" th:field="*{candidateLoginInfoDocument}" accept=".csv" hidden>
						<label class="text-center br-16" for="candidateLoginInfoDocument">
							<h3>Upload Candidate List</h3>
							<br>
							Supported File: .csv
							<br>
							The maximum file size is 512KB
						</label>
					</label>
					<div th:if="*{#lists.size(candidates) > 0}" id="candidate-details" style="margin-bottom:24px;">
						<details>
							<summary class="width-100 br-16 flex-row justify-between align-center" style="background-color:#0F29420A;padding:12px 16px">Candidate List</span><img th:src="@{/images/arrow-down-round.svg}" alt="arrow-down"></summary>
							<table class="width-100">
								<thead>
									<tr>
										<th>Field 1 Values</th>
										<th>Field 2 Values</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="candidate, candidateStat : *{candidates}">
										<td class="text-center">
											<span th:text="${candidate.field1}"></span>
											<input type="text" th:field="*{candidates[__${candidateStat.index}__].field1}" hidden>
										</td>
										<td class="text-center">
											<span th:text="${candidate.field2}"></span>
											<input type="text" th:field="*{candidates[__${candidateStat.index}__].field2}" hidden>
										</td>
									</tr>
								</tbody>
							</table>
						</details>
					</div>
					<div class="flex justify-between">
						<button id="upload-candidates-btn" type="submit" th:formaction="@{/create/review/candidates}" th:class="*{#lists.isEmpty(candidates)?'action-btn':''} + ' br-16'">Upload Candidates</button>
						<button id="delete-candidates-btn" class="alt-danger-btn br-16" th:if="*{!#lists.isEmpty(candidates)}">Delete Candidates</button>
						<button type="submit" class="action-btn br-16">Create Exam</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
		window.addEventListener("DOMContentLoaded", () => {
			// CutOff mark modification
			const slider = document.getElementById('cutOffMark');
			const sliderVal = document.getElementById('pass-value');
			sliderVal.innerHTML = (slider.value * 100) + '%';
			slider.addEventListener('change', () => {
				sliderVal.innerHTML = (slider.value * 100) + '%';
			});
			const allowCutOffMark = document.querySelector('[name="allowCutOffMark"]');
			if (allowCutOffMark) {
				document.getElementById('slider').hidden = !allowCutOffMark.checked;
				allowCutOffMark.addEventListener("change", () => {
					document.getElementById('slider').hidden = !allowCutOffMark.checked;
				});
			}
			
			// Login field
			const loginField2 = document.getElementById('loginField2');
			const loginField2Desc = document.getElementById('loginField2Desc');
			const validateLoginField = () => {
				if (loginField2.value == 'None') {
					loginField2Desc.required = false;
				} else {
					loginField2Desc.required = true;
				}
			}
			loginField2.onchange = validateLoginField;
			validateLoginField();
			
			// Candidate list verification/validation
			const candidateUploadLabel = document.getElementById('upload-candidates');
			const candidateUploadBox = candidateUploadLabel.getElementsByTagName('label')[0];
			const candidateUploadInput = candidateUploadLabel.getElementsByTagName('input')[0];
			const candidateList = document.getElementById('candidate-details');
			const uploadCandidatesBtn = document.getElementById('upload-candidates-btn');
			const deleteCandidatesBtn = document.getElementById('delete-candidates-btn');
			const verifyCandidates = () => {
				// If the candidate list is not hidden
				if (candidateList && !candidateList.hidden) {
					// If delete candidates button is available
					if (deleteCandidatesBtn) {
						// disable and hide the upload candidates button
						uploadCandidatesBtn.hidden = true;
						uploadCandidatesBtn.disabled = true;
						candidateUploadLabel.hidden = true;
						// unhide the delete candidates button
						deleteCandidatesBtn.hidden = false;
					}
					return;
				}
				// If the candidate list is hidden
				if (candidateList && candidateList.hidden) {
					if (deleteCandidatesBtn) {
						uploadCandidatesBtn.hidden = false;
						uploadCandidatesBtn.disabled = false;
						candidateUploadLabel.hidden = false;
						deleteCandidatesBtn.hidden = true;
					}
					return;
				}
			}
			verifyCandidates();
			const deleteCandidatesList = (event) => {
				event.preventDefault();
				candidateUploadLabel.hidden = false;
				uploadCandidatesBtn.hidden = false;
				uploadCandidatesBtn.disabled = true;
				uploadCandidatesBtn.classList.add('action-btn');
				deleteCandidatesBtn.classList.remove('alt-danger-btn');
				deleteCandidatesBtn.hidden = true;
				candidateList.innerHTML = "";
				candidateList.hidden = true;
				verifyCandidates();
			}
			if (deleteCandidatesBtn) {
				deleteCandidatesBtn.onclick = deleteCandidatesList;
			}
			const validateCandidates = () => {
				const maxFileSize = 1024 * 512; // 512KB
				if (candidateUploadInput.files.length > 0 && candidateUploadInput.files[0].size <= maxFileSize) {
					candidateUploadBox.classList.add('success-upload');
					candidateUploadBox.classList.remove('fail-upload');
					candidateUploadBox.innerHTML = "<h3>" + candidateUploadInput.files[0].name + "</h3>";
					uploadCandidatesBtn.disabled = false;
					return;
				}
				if (candidateUploadInput.files.length > 0 && candidateUploadInput.files[0].size > maxFileSize) {
					candidateUploadBox.classList.add('fail-upload');
					candidateUploadBox.classList.remove('success-upload');
					candidateUploadBox.innerHTML = "<h3>" + candidateUploadInput.files[0].name + " is too large.</h3>";
					uploadCandidatesBtn.disabled = true;
					return;
				}
				if (candidateUploadInput.files.length == 0) {
					uploadCandidatesBtn.disabled = true;
				}
			}
			validateCandidates();
			candidateUploadInput.onchange = validateCandidates;
			uploadCandidatesBtn.addEventListener("click", () => {
				if (uploadCandidatesBtn.disabled)
					return;
				document.getElementById('loginField1Desc').required = false;
				document.getElementById('loginField2Desc').required = false;
			});
		})
	</script>
</body>
</html>